

apiVersion: v1
kind: Service
metadata:
  name:  webapp-service
  labels:
    app: webapp
    version: "1.0"
spec:
  selector:
    app:  webapp  
  type: NodePort
  ports:
  - name: tcp
    port: 80
    nodePort: 35050
